<div class="container">
    <div class="row">
        <h1>Detalle de {{player.name}}</h1>
        <div class="col-4">
            <figure>
                <img src="{{player.photo}}" alt="{{player.name}}">
            </figure>
        </div>
        <div class="col-8">
            <h3>{{name}}</h3>
            <p> Su nacionalidad es {{player.nationality}}</p>
            <div>
                <p>se llama {{player.name}}, pesa {{player.weight}} y mide {{player.height}}</p>
            </div>
            <a href="/teams" class="btn btn-dark">Volver a Equipos</a>
        </div>
    </div>
</div>