<div class="detalles-liga">
    <div class="row mt-5">
        <h1>Detalle de la liga {{league.[0].league.name}}</h1>
        <hr>
        <div class="col-4 mt-3">
            <figure>
                <img src="{{league.[0].league.logo}}" alt="{{league.[0].league.name}}">
            </figure>
        </div>
        <div class="col-8 mt-5">
            <h3>La liga <strong>{{league.[0].league.name}}</strong> es de tipo
                <strong>{{league.[0].league.type}}</strong>
            </h3>
            <p>Que se organiza en {{league.[0].country.name}} y lleva un total de {{league.[0].seasons.length}}
                jugandose: desde
                {{league.[0].seasons.[0].year}}</p>
            <div class="row justify-content-around mt-4">
                <div class="col-6">
                    <a href="/leagues" class="btn btn-primary">Volver a ligas</a>
                </div>
                <div class="col-6">
                    <a href="/teams/league/{{league.[0].league.id}}" class="btn btn-dark">Ver equipos</a>
                </div>
            </div>
        </div>
    </div>
</div>