<div class="container">
    <div class="row">
        <h1>Detalle de {{name}}</h1>
        <div class="col-4">
            <figure>
                <img src="{{logo}}" alt="{{name}}">
            </figure>
        </div>
        <div class="col-8">
            <h3>{{name}}</h3>
            <p>Procedente de {{country}} fue fundado en {{founded}}</p>
            <div>
                <p>Su estadio se llama {{venue.name}} y está situado en la ciudad de {{venue.city}}</p>
                <a href="/stadium/{{venue.id}}" class="btn btn-primary">Ver Detalle de Estadio</a>
            </div>
            <a href="/leagues" class="btn btn-dark">Volver a ligas</a>
        </div>
    </div>
</div>