<div class="container">
    <div class="row justify-content-center mt-5">
        <h1 class="mt-5 mb-3">Detalle de {{username}}</h1>
        <hr>
        <div class="col-5">
            <figure>
                <img src="{{avatar}}" alt="{{username}}">
            </figure>
        </div>

        <div class="col-7">
            <h3>{{username}}</h3>
            <h5>{{email}}</h5>
            <p>{{description}}</p>

            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">
                        <label>Username</label>
                    </div>
                    <div class="col-md-6">
                        <p>{{user.username}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Email</label>
                    </div>
                    <div class="col-md-6">
                        <p>{{user.email}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Avatar</label>
                    </div>
                    <div class="col-md-6">
                        <p>{{user.avatar}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Descripcion</label>
                    </div>
                    <div class="col-md-6">
                        <p>{{user.description}}</p>
                    </div>
                </div>

                {{#if isAdminOrOwner}}
                <div class="row">
                    <div class="col-md-4">
                        <a href="/user/{{user._id}}/edit" class="btn btn-warning ">Editar</a>
                    </div>
                    {{#if isAdmin}}
                    <div class="col-md-4">
                        <form action="/{{user._id}}" method="post">
                            <input type="submit" value="Delete" class="btn btn-danger">
                        </form>
                    </div>
                    {{/if}}
                </div>
                {{/if}}
                <div class="col-md-4">
                    <a href="/" class="btn btn-primary">Ver Equipos</a>
                </div>

            </div>
        </div>
    </div>