<div class="container mt-5">
    <div class="row mt-5">
        <h1 class="mb-3å">Lista de usuarios</h1>
        <hr>
        {{#each users}}
        <div class="col-4 mt-5">
            <div class="card" style="width: 18rem;">
                <img src="{{avatar}}" class="card-img-top" alt="{{username}}">
                <div class="card-body">
                    <h3 class="card-title">{{username}}</h3>
                    <h5>{{email}}</h5>
                    <p class="card-text">{{description}}</p>
                    <a href="/user/{{_id}}/detail" class="btn btn-primary">Go profile</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>