<div class="container">
    <div class="row">
        <h1>Detalle de {{name}}</h1>
        <div class="col-4">
            <figure>
                <img src="{{image}}" alt="{{name}}">
            </figure>
        </div>
        <div class="col-8">
            <h3>El estadio de {{name}}</h3>
            <p>Tiene una capacidad de {{capacity}}, se encuentra ubicado en {{addres}} en la ciudad de {{city}}</p>
            <a href="/teams/{{id}}/detail" class="btn btn-dark">Información de equipo</a>
        </div>
    </div>
</div>