<div class="container">
    <div class="row">
        <h1>Detalle de {{stadium.name}}</h1>
        <div class="col-4">
            <figure>
                <img src="{{stadium.image}}" alt="{{stadium.name}}">
            </figure>
        </div>
        <div class="col-8">
            <h3>El estadio de {{stadium.name}}</h3>
            <p>Tiene una capacidad de {{stadium.capacity}}, se encuentra ubicado en {{stadium.address}} en la ciudad de
                {{stadium.city}}</p>
            <a href="/teams/{{stadium.id}}/detail" class="btn btn-dark">Información de equipo</a>
        </div>
    </div>
</div>